/* Start Body */
body {
    background-color: lightpink;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
    font-size: 16px;
    line-height: 1.5em;
    margin: 0;
    padding: 0;
}
/* End Body */

/* Start Debug */
.bg-blue {
    background-color: blue;
}
bg-red {
    background-color:red;
}
/* End Debug */

/* Start Container */
.container {
    margin: 10px auto;
    overflow: auto;
    width: 90%
/* Start Container */